*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}
body{
    padding: 10px;  
}
.topo{
    border: 5px solid black;
    padding: 20px;
    position: relative;
    background-color:brown;
}
.logo{
    border: 3px solid black;
    width: 100px;
    padding: 5px;
    margin: 5px; 
}
.container{
    width: 80%;
    margin: auto; 
}
.banner{
    border: 5px solid black;
    padding: 40px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.fotobanner{
    border: 5px solid black;
    padding: 20px;
    text-align: center;
    background-color:brown;
}
.duascolunas{
    display: flex;
    gap: 15px;
    border: 5px solid black;
    padding: 15px;
}
.trescolunas{
    display: flex;
    gap: 15px;
    border: 5px solid black;
    padding: 15px;
    margin-top: 8px;
}
.umacoluna{
    border: 5px solid black;
    margin-bottom: 15px;
    padding: 8px;
    margin-top: 15px;
}
.caixa{
    border: 3px solid black;
    padding: 35px;
    flex: 1;
    text-align: center;
    background-color: #c0c0c0;
}
.footer{
    border: 5px solid black;
    padding: 30px;
    text-align: center;
    margin-top: 20px;
    background-color: #c0c0c0;
}
