*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}
body{
    padding: 1px;
}
.topo{
    border: 2px solid black;
}
.logo{
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    width: 10%;
    background-color: #c0c0c0;
}
.banner{
  border: 2px solid black;
  margin-top: 5px;  
  padding: 5px;
  width: 100%; 
}
.bannerfoto{
    border: 2px solid black;
    padding: 40px;
    margin: 5px;
    text-align: center;
    background-color: #c0c0c0;
}
.container{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 5px;
}
.duascolunas{
    border: 2px solid black;
    display: flex;
    gap: 15px; 
    padding: 20px; 

}
.trescolunas{
    border: 2px solid black;
    display: flex;
    gap: 15px;
    padding: 20px;
    margin-top: 4px;
}
.umacoluna{
    border: 2px solid black;
    display: flex;
    gap: 15px;
    padding: 20px;
    margin-top: 4px;
}
.texto{
    border: 2px solid black;
    padding: 50px;
    text-align: center;
    flex: 1;
    background-color: #c0c0c0;
}
.foto{
    border: 2px solid black;
    padding: 50px;
    text-align: center;
    flex: 1;
    background-color: #c0c0c0;
}
.footer{
    border: 2px solid black;
    padding: 35px;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 5px;
    background-color: #c0c0c0;
}
@media (max-width: 666px) {
    .duascolunas,
    .trescolunas,
    .umacoluna {
        flex-direction: column;
        padding: 10px;   
}
.logo{
    width: 25%;
    text-align: center;
}
} 